
.card{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 200px;
    margin: 0 20px 20px 20px; 
    height: 420px;
    transition: transform 0.4s ease;
    border-radius: 10px;


}
.card:hover{   
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}
.common{
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 10px;
    
    cursor: pointer;
}
.btn-cart{
    border: 1px solid #e94610;
    background-color: #e94610;
    color: white;
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}
.spinner{
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.deproduct{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
}
.deproduct1{
    /* border: 1px solid red; */
    margin-top: 10vh;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}
.deproduct2{
    /* border: 1px solid black; */
    margin-top: 10vh;
    height: 320px;
    flex: 1;
    display: flex;
    align-items: start;
    justify-content: left;
    flex-direction: column;
}
.desc{
    margin-left: 17px;
}
.ratings{
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    position: relative;
    top: -20px;
    margin-left: 17px;
}
.priced{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.priced p{
    margin-left: 20px;
}
.off{
    height: 30px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid tomato;
    background-color: tomato;
}
.disprice{
    font-size: 25px;
    font-weight: 400;
    color: green;
}
.stock{
    margin-left: 17px;
    color: tomato;
}
.review{
    border: 1px solid gray;
    margin-left: 10%;
    margin-right: 10%;
}
.review p{
    margin-left: 10px;
}
.p2{
    position: relative;
    top: -20px;
}
.p3{
    position: relative;
    top: -30px;
}
.writeReview{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
}
.writeReview1{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.instars{
    width: 100px;
    
}
.incom{
    width: 250px;
    height: 100px;
}
.post-btn{
    border: 1px solid tomato;
    margin-top: 10px;
    background-color: tomato;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}