
.card{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 200px;
    margin: 0 20px 20px 20px; 
    height: 350px;
    transition: transform 0.4s ease;
    border-radius: 10px;

}
.card:hover{
    transform: translateY(-10px);
}
.common{
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 10px;
}
.btn-cart{
    border: 1px solid #e94610;
    background-color: #e94610;
    color: white;
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}
.spinner{
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}