.login-form{
    margin-top: 10vh;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.form-data{
   
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
label{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-top: 5px;
}
input{
    width: 30em;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    outline: none;
}
.resgister-btn{
    width: 10em;
    height: 2.5em;
    margin-top: 5%;
    background-color: tomato;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
}