.search{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-ele{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    
    align-items: center;
    justify-content: left;
    width: 42.87em;
    height: 45px;
    border-radius: 10px;
}
.search-ele input{
    height: 35px;
    width: 41.21em;
    margin-left: 12px;
    border: none;
    outline: none;
}


.car{
  
    height: auto;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 10vh;
}
.a{
    margin: 10px;
}
.car-img{
    
    border: none;
    outline: none;
    width: 800px;
    height: 305px;
    background-size: contain;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 1);
    /* margin-left: 10px;
    margin-right: 10px; */
}
.hi{
    background-image: url("../../../public/assets/2.jpg");
    height: 305px;
    background-size: cover;
    width: 500px;
    display:flex;
    align-items: center;
    justify-content: center;
    color:  rgb(0, 155, 216);
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
    border-radius: 10px;
  
}
.hii{
    background-image: url("../../../public/assets/3.jpg");
    height: 305px;
    background-size: cover;
    width: 500px;
    display:flex;
    align-items: center;
    justify-content: center;
    color:  rgb(146, 13, 13);
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
    border-radius: 10px;
  
}

.hiii{
    background-image: url("../../../public/assets/ear1.jpeg");
    height: 305px;
    background-size: cover;
    width: 500px;
    display:flex;
    align-items: center;
    justify-content: center;
    color:  rgb(90, 88, 88);
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
    border-radius: 10px;
  
}
.products{
   border: 1px solid gray;
   min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 12vh;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 10px;
}
.menu{
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-btn{
    margin-right: 45%;
   
}
.range{
    width: 100px;
}
.price-filter{
    margin-top: 10vh;
    border: 1px solid gray;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 10px;
}